{% extends 'base.html' %}

{% block content %}

{% if entrada %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valor</th>
        <th scope="col">Producto ID</th>
      </tr>
    </thead>
    <tbody>
        {% for entrada in entrada %}
      <tr class="table-info">
        <td>{{ entrada.id}}</td>
        <td>{{ entrada.fecha}}</td>
        <td>{{ entrada.cantidad}}</td>
        <td>{{ entrada.valor}}</td>
        <td>{{ entrada.producto_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

<h1>No hay registros</h1>

{% endif %}

{% endblock %}